// FONTS

$primary-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', cursive;

// ----- COLORS ------

$white: #ffffff;
$black: #000000;
$gray: #d9d9d9;

$red: #d41443;
$rose: #ffa5ba;
$rose-gray: #907e82;

// accent

$accent-rose: #ffb8ca;
$accent-yellow: #f0d1a5;
$accent-green: #c2e297;

// header background

$bg-hero-modal: #e17992;

// background

$bg-white: #ffffff;
$bg-rose-light: #fff5f6;
$bg-hero: #ffb8ca;

// reviews

$bg-paginator-bullet: #d9d9d9;
$paginator-gr-white: #fafafa;
$paginator-gr-gray: #e1e1e1;

// title

$title-black: #000000;
$title-white: #ffffff;

$title-red: #d41443;
$title-rose: #ffa5ba;

// text

$text-white: #ffffff;
$text-black: #000000;

$text-red: #d41443;
$text-rose: #ffa5ba;
$text-rose-gray: #907e82;

// button

$button-bg-white: #ffffff;
$button-bg-white-hover: #ecebeb;

$button-bg-red: #d41342;
$button-bg-red-hover: #c7133e;

$slider-btn-hover-color: #dbffac;

// icon

$icon-bg-rose: #fea5bb;
$icon-bg-rose-hover: #d41443;

// border

$border-gray: #e1e1e1;
$boder-red: #d41443;
$border-rose: #e18298;
$border-rose-light: #ffa5ba;

// shadow

$bg-shadow: rgba(212, 20, 67, 0.1);

$product-shadow-rose: rgba(255, 155, 180, 0.7);
$product-shadow-yellow: rgba(240, 209, 165, 0.7);
$product-shadow-green: rgba(194, 226, 151, 0.7);

$product-top-rose: #e17992;
$product-top-yellow: #e2a753;
$product-top-green: #76a03e;
