<section class="section-container contacts">
  <div class="container">
    <h2 class="is-hidden">Our contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <strong class="contacts-list-category">Cafe</strong>
        <div class="city-wrap">
          <h3 class="city-wrap-title">Chicago</h3>
          <p class="city-wrap-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-wrap">
          <p class="work-title">Monday - Friday</p>
          <span class="work-text">06:00 AM - 10:00 PM</span>
          <p class="work-title">Saturday - Sunday</p>
          <span class="work-text">08:00 AM - 16:00 PM</span>
        </div>
        <div class="link-wrap">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list-item">
        <strong class="contacts-list-category accent-green">Food truck</strong>
        <div class="city-wrap">
          <h3 class="city-wrap-title">Los Angeles</h3>
          <p class="city-wrap-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-wrap">
          <p class="work-title">Monday - Friday</p>
          <span class="work-text">06:00 AM - 10:00 PM</span>
          <p class="work-title">Saturday - Sunday</p>
          <span class="work-text">08:00 AM - 16:00 PM</span>
        </div>
        <div class="link-wrap">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-list-item">
        <strong class="contacts-list-category">Cafe</strong>
        <div class="city-wrap">
          <h3 class="city-wrap-title">New York</h3>
          <p class="city-wrap-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="work-wrap">
          <p class="work-title">Monday - Friday</p>
          <span class="work-text">06:00 AM - 10:00 PM</span>
          <p class="work-title">Saturday - Sunday</p>
          <span class="work-text">08:00 AM - 16:00 PM</span>
        </div>
        <div class="link-wrap">
          <a href="tel:+61(0)383766284" class="contacts-list-link"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts-list-link"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="button-wrap">
      <button type="button" class="button-red" data-map-open>
        Our Locations
        <svg width="8" height="8" class="icon-btn-red">
          <use href="./images/icons/icons.svg#icon-arrow-button-white"></use>
        </svg>
      </button>
      <button type="button" class="button-white" data-franchise-open>
        Franchise
        <svg width="8" height="8" class="icon-btn-white">
          <use href="./images/icons/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
