<article class="section-container section-article">
    <div class="container">
        <div class="swiper mySwiper">
            <h2 class="is-hidden">Customer reviews</h2>
            <div class="swiper-wrapper">
                <div class="swiper-slide customer-item"><img src="./images/mobile/avatar1-img-mobile.png" alt="">
                    <p class="article-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                        sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <h3>Emily, Los Angeles</h3>
                </div>
                <div class="swiper-slide"><img src="./images/desktop/avatar2-img-desktop.png" alt="">
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <h3>Emily, Los Angeles</h3>
                </div>
                <div class="swiper-slide"><img src="./images/desktop/avatar3-img-desktop.png" alt="">
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                    <h3>Emily, Los Angeles</h3>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</article>