<section class="section-container section-article" id="reviews">
  <div class="container article-container">
    <div class="swiper mySwiper">
      <h2 class="is-hidden">Customer reviews</h2>

      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <article>
            <picture>
              <source
                srcset="
                  ./images/desktop/avatar1-img-desktop.png    1x,
                  ./images/desktop/avatar1-img-desktop@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/avatar1-img-tablet.png   1x,
                  ./images/tablet/avatar1-img-tablet2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/avatar1-img-mobile.png   1x,
                  ./images/mobile/avatar1-img-mobile2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/mobile/avatar1-img-mobile.png"
                alt="Emily"
                class="article-img"
              />
            </picture>

            <div class="bg-container">
              <p class="article-text">
                I really liked the ice cream! In hot weather, a cold treat was
                very welcome. And for the whole summer, you can have time to try
                all types of ice cream that this company sells.
              </p>
            </div>

            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>

        <div class="swiper-slide">
          <article>
            <img
              srcset="
                ./images/desktop/avatar2-img-desktop.png    1x,
                ./images/desktop/avatar2-img-desktop@2x.png 2x
              "
              src="./images/desktop/avatar2-img-desktop.png"
              alt="Name"
              class="article-img"
            />

            <div class="bg-container">
              <p class="article-text">
                Iced coffee is a great alternative for all coffee lovers. You
                get both your favorite drink and a pleasant coolness on a summer
                day! Great option!
              </p>
            </div>

            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>

        <div class="swiper-slide">
          <article>
            <img
              srcset="
                ./images/desktop/avatar3-img-desktop.png    1x,
                ./images/desktop/avatar3-img-desktop@2x.png 2x
              "
              src="./images/desktop/avatar3-img-desktop.png"
              alt="Name"
              class="article-img"
            />

            <div class="bg-container">
              <p class="article-text">
                My kids love milkshakes! It is not only tasty, but also healthy
                thanks to fresh fruits. My kids always order cocktails in
                different colors and flavors.
              </p>
            </div>

            <h3 class="article-name">Emily, Los Angeles</h3>
          </article>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
