<section class="advantages section-container">
  <div class="container">
    <h2 class="is-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <h3 class="advantages-title advan1">721</h3>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-title advan2">16kg</h3>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <h3 class="advantages-title advan3">84</h3>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
