<section class="gallery section-container">
  <div class="container gallery-container">
    <h2 class="is-hidden">Gallery</h2>
    <!--СЛАЙДЕР КАРТИНОК-->
    <div class="swiper img-slider">
      <!-- КНОПКА ОТКРЫТИЯ СЛАЙДЕРА -->
      <button
        type="button"
        class="img-slider-close-btn"
        aria-label="gallery close button"
      >
        <svg class="img-slider-icon">
          <use href="./images/icons/icons.svg#icon-close-2"></use>
        </svg>
      </button>

      <!--ОБВЕРТКА СЛАЙДЕРА -->
      <div class="swiper-wrapper img-slider-wrapper">
        <!-- СЛАЙДЫ -->
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-1-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-1-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-1-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-1-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-1-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-1-mob.jpg "
                alt="pistachio ice lolly"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-2-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-2-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-2-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-2-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-2-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-2-mob.jpg "
                alt="ice cream cone"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-3-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-3-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-3-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-3-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-3-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-3-mob.jpg "
                alt="raspberry ice lolly"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-4-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-4-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-4-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-4-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-4-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-4-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-4-mob.jpg "
                alt="the girl is eating the ice cream cone"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-5-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-5-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-5-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-5-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-5-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-5-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-5-mob.jpg "
                alt="several ice cream cones"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-6-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-6-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-6-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-6-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-6-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-6-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-6-mob.jpg "
                alt="ice creams with berries"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-7-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-7-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-7-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-7-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-7-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-7-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-7-mob.jpg "
                alt="delicious ice cream cone "
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-8-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-8-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-8-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-8-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-8-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-8-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-8-mob.jpg "
                alt="the dog is eating the ice cream"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-9-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-9-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-9-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-9-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-9-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-9-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-9-mob.jpg "
                alt="a glass of milkshake"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-10-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-10-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-10-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-10-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-10-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-10-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-10-mob.jpg "
                alt="an ice cream"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-11-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-11-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-11-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-11-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-11-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-11-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-11-mob.jpg "
                alt="a pistachio ice cream"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>
        <div class="swiper-slide img-slider-slide">
          <div class="img-slider-thumb">
            <picture>
              <source
                srcset="
                  ./images/desktop/image-slider/slide-12-desk.jpg    1x,
                  ./images/desktop/image-slider/slide-12-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/tablet/image-slider/slide-12-tab.jpg    1x,
                  ./images/tablet/image-slider/slide-12-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/mobile/image-slider/slide-12-mob.jpg    1x,
                  ./images/mobile/image-slider/slide-12-mob-2x.jpg 2x
                "
              />
              <img
                src="./images/mobile/image-slider/slide-12-mob.jpg "
                alt="a glass of iced coffee"
                class="img-slider-img"
              />
            </picture>
          </div>
        </div>

        ...
      </div>

      <!-- НАВИГАЦИЯ-->
      <div class="swiper-button-prev img-slider-btn-prev"></div>
      <div class="swiper-button-next img-slider-btn-next"></div>

      <!-- ПАГИНАЦИЯ -->
      <div class="swiper-pagination img-slider-pagination"></div>
      <!-- СКРОЛЛБАР-->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>

    <!-- ГАЛЕРЕЯ -->
    <ul class="gallery-grid">
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-1-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-1-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-1-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-1-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-1-tab.jpg"
              alt="pistachio ice lolly"
              class="gallery-img"
              id="0"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-2-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-2-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-2-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-2-tab.jpg"
              alt="ice cream cone"
              class="gallery-img"
              id="1"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-3-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-3-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-3-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-3-tab.jpg"
              alt="raspberry ice lolly"
              class="gallery-img"
              id="2"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-4-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-4-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-4-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-4-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-4-tab.jpg"
              alt="the girl is eating the ice cream cone"
              class="gallery-img"
              id="3"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-5-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-5-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-5-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-5-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-5-tab.jpg"
              alt="several ice cream cones"
              class="gallery-img"
              id="4"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-6-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-6-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-6-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-6-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-6-tab.jpg"
              alt="ice creams with berries"
              class="gallery-img"
              id="5"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-7-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-7-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-7-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-7-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-7-tab.jpg"
              alt="delicious ice cream cone "
              class="gallery-img"
              id="6"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-8-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-8-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-8-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-8-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-8-tab.jpg"
              alt="the dog is eating the ice cream"
              class="gallery-img"
              id="7"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-9-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-9-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-9-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-9-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-9-tab.jpg"
              alt="a glass of milkshake"
              class="gallery-img"
              id="8"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-10-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-10-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-10-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-10-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-10-tab.jpg"
              alt="an ice cream"
              class="gallery-img"
              id="9"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-11-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-11-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-11-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-11-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-11-tab.jpg"
              alt="a pistachio ice cream"
              class="gallery-img"
              id="10"
            />
          </picture>
        </div>
      </li>
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              srcset="
                ./images/desktop/gallery/gallery-img-12-desk.jpg    1x,
                ./images/desktop/gallery/gallery-img-12-desk-2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/tablet/gallery/gallery-img-12-tab.jpg    1x,
                ./images/tablet/gallery/gallery-img-12-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./images/tablet/gallery/gallery-img-12-tab.jpg"
              alt="a glass of iced coffee"
              class="gallery-img"
              id="11"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
