<section class="products">
  <div class="container">
    <p class="section-label">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="product">
      <li class="product-item">
        <picture>
          <source
            srcset="
              ./images/mobile/product1-img-mobile.png    1x,
              ./images/mobile/product1-img-mobile@2x.png 2x
            "
          />
          <img
            class="contact-img"
            src="./images/mobile/product1-img-mobile.png"
            alt="Мороженое с клубникой"
          />
        </picture>
        <div class="product-box product-box-first">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-box product-box-second">
          <picture>
            <source
              srcset="
                ./images/mobile/product2-img-mobile.png    1x,
                ./images/mobile/product2-img-mobile@2x.png 2x
              "
            />
            <img
              class="contact-img"
              src="./images/mobile/product1-img-mobile.png"
              alt="Ледяной кофе"
            />
          </picture>
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            maxime eius. Dicta incidunt eos aspernatur cupiditate quasi, veniam
            hic quam voluptate nostrum? Laudantium nobis, iure blanditiis
            quisquam voluptatum commodi maxime.
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-box product-box-third">
          <picture>
            <source
              srcset="
                ./images/mobile/product3-img-mobile.png    1x,
                ./images/mobile/product3-img-mobile@2x.png 2x
              "
            />
            <img
              class="contact-img"
              src="./images/mobile/product2-img-mobile.png"
              alt="Молочный коктейль"
            />
          </picture>
          <h3 class="product-title">milkshakes</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            maxime eius. Dicta incidunt eos aspernatur cupiditate quasi, veniam
            hic quam voluptate nostrum? Laudantium nobis, iure blanditiis
            quisquam voluptatum commodi maxime.
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
