<section class="advantages" id="how">
  <div class="container">
    <h2 class="is-hidden">Advantages</h2>
    <ul class="advantages-list animates animates-transition">
      <li class="advantages-item">
        <p class="advantages-text">
          <span class="advantages-title advan1">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text">
          <span class="advantages-title advan2">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-text">
          <span class="advantages-title advan3">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
