<section class="section-container products" id="products">
  <div class="container">
    <p class="section-label">100% natural</p>
    <h2 class="section-title">products</h2>

    <ul class="product">
      <li class="product-item shadow-rose flipping-card">
        <div class="product-box product-box-first card-side front">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Ice cream is a dessert, a frozen and whipped sweet mass of dairy
            products with various fruit additives.
          </p>

          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="15" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>

        <div class="card-side back back-rose">
          <p class="product-text product-text-back">
            The first mention of ice cream appeared more than 4000 years ago in
            ancient China. At that time, a special delicacy was prepared for the
            rulers - a mixture of snow and ice with slices of oranges, lemons
            and pomegranate seeds.
          </p>

          <button type="button" class="button-circle-large">
            <svg
              class="button-circle-svg button-back-svg"
              width="15"
              height="15"
            >
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product-item shadow-yellow flipping-card">
        <div class="product-box product-box-second card-side front">
          <h3 class="product-title">ice coffee</h3>
          <p class="product-text">
            This is a cold cocktail that is whipped until foam is formed. The
            main highlight of the drink is high foam.
          </p>

          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="15" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>

        <div class="card-side back back-yellow">
          <p class="product-text product-text-back">
            One of the favorite drinks of every Greek and, not infrequently,
            guests of the country, frappe is one of the unofficial symbols of
            Greece. It is believed that the best frappe in Greece is prepared in
            Thessalonik
          </p>
          <button type="button" class="button-circle-large">
            <svg
              class="button-circle-svg button-back-svg"
              width="15"
              height="15"
            >
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product-item shadow-green flipping-card">
        <div class="product-box product-box-third card-side front">
          <h3 class="product-title">milkshakes</h3>
          <p class="product-text">
            Dessert drink based on milk, ice cream and various fruits or fruit
            fibres. Delicious and healthy drink.
          </p>

          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="15" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>

        <div class="card-side back back-green">
          <p class="product-text product-text-back">
            The milkshake was first talked about and written about in 1885.
            Interestingly, the first milkshakes necessarily included whiskey and
            these cocktails were used for medical purposes. The classic recipe
            appeared in 1922.
          </p>

          <button type="button" class="button-circle-large">
            <svg
              class="button-circle-svg button-back-svg"
              width="15"
              height="15"
            >
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
