<section class="advantages section-container" id="how">
  <div class="container">
    <h2 class="is-hidden">Advantages</h2>
    <ul class="advantages-list animates animates-transition">
      <li class="advantages-item">
        <strong class="advantages-title advan1">721</strong>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <strong class="advantages-title advan2">16kg</strong>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <strong class="advantages-title advan3">84</strong>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
