<section class="about section-container" id="about">
  <div class="container about-container">
    <p class="section-label">tradition and love</p>
    <h2 class="section-title">how it’s made?</h2>

    <div class="about-flex-box cow-animates cow-animates-transition">
      <div class="about-image-box">
        <picture>
          <source
            srcset="
              ./images/desktop/about1-img-desktop.png    1x,
              ./images/desktop/about1-img-desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/tablet/about1-img-tablet.png    1x,
              ./images/tablet/about1-img-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mobile/about1-img-mobile.png    1x,
              ./images/mobile/about1-img-mobile@2x.png 2x
            "
            media="(max-width: 767.9px)"
          />
          <img
            class="about-img"
            src="./images/mobile/about1-img-mobile.png"
            alt="Корова с молоком"
          />
        </picture>
      </div>

      <div class="about-content">
        <p>
          For production, we use only natural products that pass quality
          control. The production is certified and complies with GFSI
          international standards.
        </p>
        <p class="about-second-content">
          The laboratory performs quality and safety control at all stages of
          production and storage of products. The filter system protects the raw
          material from foreign objects. And automatic car washes keep the
          equipment clean. Our production is safe and reliable!
        </p>

        <button type="button" class="button-white about-button" data-read-open>
          Read more
          <svg class="about-svg-img" width="8" height="8">
            <use href="./images/icons/icons.svg#icon-arrow-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
