<section class="section-container contacts" id="contacts">
  <div class="container">
    <h2 class="is-hidden">Our contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <strong class="contacts-list-category">Cafe</strong>
        <h3 class="contacts-list-title">Chicago</h3>
        <p class="contacts-list-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <p class="work-list-title">Monday - Friday</p>
            <span class="work-list-text">06:00 AM - 10:00 PM</span>
          </li>
          <li class="work-list-item">
            <p class="work-list-title">Saturday - Sunday</p>
            <span class="work-list-text">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="tel:+61(0)383766284" class="links-list-link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="links-list-item">
            <a href="mailto:noreply@envato.com" class="links-list-link">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-list-item">
        <strong class="contacts-list-category accent-green">Food truck</strong>
        <h3 class="contacts-list-title">Los Angeles</h3>
        <p class="contacts-list-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <p class="work-list-title">Monday - Friday</p>
            <span class="work-list-text">06:00 AM - 10:00 PM</span>
          </li>
          <li class="work-list-item">
            <p class="work-list-title">Saturday - Sunday</p>
            <span class="work-list-text">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="tel:+61(0)383766284" class="links-list-link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="links-list-item">
            <a href="mailto:noreply@envato.com" class="links-list-link">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts-list-item">
        <strong class="contacts-list-category">Cafe</strong>
        <h3 class="contacts-list-title">New York</h3>
        <p class="contacts-list-text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <p class="work-list-title">Monday - Friday</p>
            <span class="work-list-text">06:00 AM - 10:00 PM</span>
          </li>
          <li class="work-list-item">
            <p class="work-list-title">Saturday - Sunday</p>
            <span class="work-list-text">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <ul class="links-list">
          <li class="links-list-item">
            <a href="tel:+61(0)383766284" class="links-list-link">
              +61(0) 383 766 284
            </a>
          </li>
          <li class="links-list-item">
            <a href="mailto:noreply@envato.com" class="links-list-link">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="button-list">
      <li class="button-list-item">
        <button type="button" class="button-red" data-map-open>
          Our Locations
          <svg width="8" height="8" class="icon-btn-red">
            <use href="./images/icons/icons.svg#icon-arrow-button-white"></use>
          </svg>
        </button>
      </li>
      <li class="button-list-item">
        <button type="button" class="button-white" data-franchise-open>
          Franchise
          <svg width="8" height="8" class="icon-btn-white">
            <use href="./images/icons/icons.svg#icon-arrow-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
