<section class="section-container products">
  <div class="container">
    <p class="section-label">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="product">
      <li class="product-item shadow-rose flipping-card">
        <div class="product-box product-box-first card-side front">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
        <div class="card-side back">
          <p class="product-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla fuga
            quisquam rem. Amet aperiam accusamus perferendis, molestiae animi
            labore ipsum hic veritatis enim soluta saepe inventore eligendi
            eveniet ducimus accusantium!
          </p>
        </div>
      </li>

      <li class="product-item shadow-yellow">
        <div class="product-box product-box-second">
          <h3 class="product-title">ice coffee</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-item shadow-green">
        <div class="product-box product-box-third">
          <h3 class="product-title">milkshakes</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="section-container products">
  <div class="container">
    <p class="section-label">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="product">
      <li class="product-item shadow-rose">
        <div class="product-box product-box-first">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-item shadow-yellow">
        <div class="product-box product-box-second">
          <h3 class="product-title">ice cream</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="product-item shadow-green">
        <div class="product-box product-box-third">
          <h3 class="product-title">milkshakes</h3>
          <p class="product-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button-circle-large">
            <svg class="button-circle-svg" width="13" height="15">
              <use
                href="./images/icons/icons.svg#icon-arrow-button-circle"
              ></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section> -->
