// BUTTONS

// primary button

%button {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 35px;
  border-radius: 22px;

  text-align: center;
}

.button-white {
  @extend %button;

  background-color: $button-bg-white;
  color: $text-red;

  &:hover,
  &:focus {
    background-color: $button-bg-white-hover;
  }
}

.button-red {
  @extend %button;

  background-color: $button-bg-red;
  color: $text-white;

  &:hover,
  &:focus {
    background-color: $button-bg-red-hover;
  }
}

// button-hero

%button-hero {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 20px;
  border-radius: 22px;

  text-align: center;
}

.button-hero-white {
  @extend %button-hero;

  background-color: $button-bg-white;
  color: $text-red;

  &:hover,
  &:focus {
    background-color: $button-bg-white-hover;
  }
}

.button-hero-red {
  @extend %button-hero;

  background-color: $button-bg-red;
  color: $text-white;

  &:hover,
  &:focus {
    background-color: $button-bg-red-hover;
  }
}
