.about {
  display: block;
  background-color: $bg-rose-light;
}
.about-container {
  @media screen and (max-width: 767.9px) {
    background-image: url('../images/mobile/about2-img-mobile.png');
    background-repeat: no-repeat;
    background-position: 0 78%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mobile/about2-img-mobile@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url('../images/desktop/about2-img-desktop.png');
    background-repeat: no-repeat;
    background-position: 0 78%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/about2-img-desktop@2x.png');
    }
  }
}
.about-content {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  margin-top: 40px;
  @media screen and (max-width: 767.9px) {
    width: 78%;
  }
  @media screen and (min-width: $tablet) {
    width: 45%;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: $desktop) {
    width: 35%;
    font-size: 16px;
    margin-left: 139px;
  }
}
.about-second-content {
  display: block;
  color: $text-rose-gray;
  margin-top: 25px;
  margin-bottom: 20px;
}
.about-img {
  width: 100%;
  margin: 0 auto;
}
.about-svg-img {
  margin-left: 14px;
}
.about-flex-box {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    justify-content: flex-start;
  }
}
.about-image-box {
  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }
}
.about-button {
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }
}
