.hero{
    background-color: $bg-hero;
    }

.hero-container{
    padding-top: 194px;
    padding-bottom: 158px;
    position: relative;
    background-color: $bg-hero;
    @media screen and (min-width: $tablet){
        padding-top: 102px;
        padding-bottom: 56px;
    }
}

.hero-wrapper{
    position: relative;
    z-index: 2;
    @media screen and (min-width: $tablet){
        margin-bottom: 61px;
        
    }
}

.hero-title{
       font-family: $title-font;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white;
    @media screen and (min-width: $tablet) {
        font-size: 22px;
        line-height: 1.14;
    }
}

.hero-title-other{
    font-size: 48px;
    line-height: 0.965;
    color: $title-red;
    max-width: 218px;
    @media screen and (min-width: $tablet) {
        font-size: 34px;
        line-height: 0.905;
    }
    
  }

.hero-wrapper-button{
    display: flex;
    margin-top: 20px;
}

.margin-left{
    margin-left: 8px;
}

.hero-wrapper-text{
        display: none; 
    @media screen and (min-width: $tablet) {
        display: block;
        z-index: 1;
        position: relative;
        margin-left: 152px;
    }

}

.hero-text{
    font-family: $primary-font;
    font-size: 8px;
    line-height: 1.5;
    color: $text-white;
    width: 114px;
    margin-bottom: 7px;
}

.hero-wrapper-number{
    display: none;
    position: relative;
    @media screen and (min-width: $tablet){
        position: absolute;
        top: 92px;
        right: 32px;
        display: block;
        z-index: 1;
        
    }
}

.hero-numder{
    position: relative;
    font-family: $title-font;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: $text-red;
    width: 60px;
    

    &:not(:last-child){
        margin-bottom: 16px;
    }

    &::before{
        display: inline-block;
        position: relative;
        content: ' ';
        background-color: #fff;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        transform: translate(260%, -80%);
        z-index: -1;
    }
   
}

.hero-number-text{
    display: block;
    font-family: $primary-font;
    font-size: 8px;
    line-height: 1.25;
    color: $text-white;
}

.img-cream{
    position: absolute;
    width: 171px;
    height: 410px;
    bottom: 0;
    right: 32px;
    z-index: 1;
    @media screen and (min-width: 481px) {
            right: 94px;
        }

    @media screen and (min-width: $tablet) {
        right: 303px;
        width: 143px;    
        height: 336px;
    }

}

.img-circle{
    position: absolute;
    width: 284px;
    height: 344px;
    bottom: 75px;
    right: 0;
    @media screen and (min-width: 481px) {
        width: 346px;
    }
    @media screen and (min-width: $tablet) {
        bottom: 40px;
        right: 185px;
        width: 335px;
        height: 333px;
    }
}

.img-girl{
    display: none;
    @media screen and (min-width: $tablet) {
       position: absolute;
        display: block;
        bottom: 0;
        right: 32px;
        width: 190px;
        height: 150px;
    }
}

.img-milk{
    display: none;
    @media screen and (min-width: $tablet) {
        position: absolute;
        display: block;
        bottom: 16px;
        right: 584px;
        width: 152px;
        height: 154px;
    }
}

.hero-icon{
    width: 5px;
    height: 5px;
}