.btn-buy-menu {
  width: 100%;
  max-width: 300px;
  margin: 26 auto 18;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header-btn-buy {
  @extend %button;
  height: 44px;
  background-color: $button-bg-white;
  color: $text-red;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    background-color: $button-bg-white-hover;
  }
}

.header-menu.active .header-btn-buy {
  @media screen and (max-width: 1279px) {
    display: block;
  }
}

.container-header {
  position: relative;
}
.header-container {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// HEADER BODY

.header-body {
  position: relative;

  display: flex;
  align-items: center;

  height: 60px;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    height: 80px;
  }
  @media screen and (min-width: $desktop) {
    height: 100px;
    justify-content: space-between;
  }
}

.header {
  @media screen and (max-width: 767px) {
    padding: 10px 0;
  }
  background-color: $bg-hero;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  width: 100%;
  background-color: transparent;

  &-logo {
    @media screen and (min-width: $tablet) and (max-width: 1279px) {
      margin-right: 293px;
    }
  }

  &-btn-icon {
    margin-left: 15px;
  }

  &-list {
    position: relative;
    z-index: 10;

    display: flex;
    @media screen and (min-width: 1280px) {
      margin-left: 175px;
    }
    @media screen and (max-width: 1279px) {
      flex-direction: column;
      text-align: left;
    }
  }

  &-item + &-item {
    @media screen and (max-width: 1279px) {
      margin-top: 10px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: 35px;
    }
  }
}
.header-menu.active .header-item {
  @media screen and (max-width: 1279px) {
    padding: 12px 0px;
    width: 100%;
    border-bottom: 1px solid $border-rose;
  }
}
// .header:first-child {
//   @media screen and (max-width: 1279px) {
//     padding-top: 12px;
//     border-top: 1px solid $border-rose;
//   }
// }

// header menu active

.header-menu {
  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    padding: 60px 20px;
    background-color: $bg-hero-modal;

    transform: translateX(100%);

    transition: 250ms;
    transition-property: transform;
    transition-timing-function: ease;

    overflow: auto;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    width: 38%;
  }
}

.header-menu.active {
  padding: 20px 20px;
  text-align: right;
  transform: translate(0);
  @media screen and (max-width: 767px) {
    width: 250px;
  }
}

// links

.header-link {
  @media screen and (min-width: $desktop) {
    padding: 35px 0;
  }
  color: $text-white;

  &:hover,
  &:focus {
    color: $text-red;
  }

  &.header-link-current {
    color: $text-red;
  }
}

// burger
.header-btn-burger {
  padding: 25px 0 25px 25px;

  @media screen and (min-width: $tablet) {
    margin-right: 32px;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.burger-icon {
  fill: $button-bg-red;
}
.header-menu-btn-close {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.close-icon {
  fill: $button-bg-white;
}
// .header-burger {
//   display: block;

//   position: relative;
//   z-index: 110;

//   width: 20px;
//   height: 12px;

//   cursor: pointer;

//   @media screen and (min-width: $desktop) {
//     display: none;
//   }

//   & span {
//     position: absolute;
//     top: 5px;
//     left: 0;

//     width: 100%;
//     height: 1px;

//     background-color: $boder-red;
//   }

//   &::before,
//   &::after {
//     display: block;
//     content: '';

//     position: absolute;
//     left: 0;

//     width: 100%;
//     height: 1px;

//     background-color: $boder-red;
//   }

//   margin-right: 32px;

//   @media screen and (max-width: 767px) {
//     margin-right: 0px;
//   }
// }

// .header-burger::before {
//   top: 0;
// }
// .header-burger::after {
//   bottom: 0;
// }

// .header-burger.active::before {
//   transform: rotate(45deg);
//   top: 5px;
//   background-color: $button-bg-white;
// }
// .header-burger.active::after {
//   transform: rotate(-45deg);
//   bottom: 6px;
//   background-color: $button-bg-white;
// }
// .header-burger.active span {
//   transform: scale(0);
// }
// .header-burger.active {
//   margin-right: 0px;
//   order: 4;
// }

// HERO

.hero {
  background-color: $bg-hero;
}

.hero-container {
  position: relative;

  padding-top: 200px;
  padding-bottom: 150px;
  background-color: $bg-hero;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 140px;
    padding-bottom: 80px;
  }
}

.hero-wrapper {
  position: relative;
  z-index: 2;
  @media screen and (min-width: $tablet) {
    margin-bottom: 61px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 108px;
  }
}

.hero-title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;
  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.14;
  }

  @media screen and (min-width: $desktop) {
    font-size: 38px;
    line-height: 1.16;
  }
}

.hero-title-other {
  font-size: 48px;
  line-height: 0.965;
  color: $title-red;
  max-width: 218px;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 0.905;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
  }
}

.hero-button-list {
  display: flex;
  margin-top: 20px;
  @media screen and (min-width: $desktop) {
    margin-top: 24px;
  }
}

.margin-left {
  margin-left: 8px;
}

.hero-wrapper-text {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    z-index: 1;
    position: relative;
    margin-left: 152px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 229px;
  }
}

.hero-text {
  font-family: $primary-font;
  font-size: 8px;
  line-height: 1.5;
  color: $text-white;
  width: 114px;
  margin-bottom: 7px;
  @media screen and (min-width: $desktop) {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.hero-number-list {
  display: none;
  position: relative;

  @media screen and (min-width: $tablet) {
    
    position: absolute;
    top: 92px;
    right: 32px;
    display: block;
    z-index: 1;
    text-align: right;
  }

  @media screen and (min-width: $desktop) {
    top: 153px;
    right: 35px;
  }
}

.hero-numder-item{
&:not(:last-child) {
    margin-bottom: 17px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 18px;
    }
  }

  &::before {
      content: '';
    display: inline-block;
      position: absolute;
      z-index: -1;
  
      width: 16px;
      height: 16px;
      border-radius: 50%;
  
      background-color: $bg-white;
      transform: translate(-50%, -20%);
  
      @media screen and (min-width: $desktop) {
        width: 30px;
        height: 30px;
      }
    }
}



.hero-number {
  position: relative;

  font-family: $title-font;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $text-red;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.15;
  }

}


.hero-number-text {
  display: block;
  font-family: $primary-font;
  font-size: 8px;
  line-height: 1.25;
  color: $text-white;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.img-cream {
  position: absolute;
  width: 171px;
  height: 410px;
  bottom: 0;
  right: 32px;
  z-index: 1;
  @media screen and (min-width: 481px) {
    right: 94px;
  }

  @media screen and (min-width: $tablet) {
    right: 303px;
    width: 143px;
    height: 336px;
  }

  @media screen and (min-width: $desktop) {
    right: 428px;
    width: 236px;
    height: 557px;
  }
}

.img-circle {
  position: absolute;
  width: 284px;
  height: 344px;
  bottom: 75px;
  right: 0;
  @media screen and (min-width: 481px) {
    width: 346px;
  }
  @media screen and (min-width: $tablet) {
    bottom: 40px;
    right: 185px;
    width: 335px;
    height: 333px;
  }
  @media screen and (min-width: $desktop) {
    bottom: 76px;
    right: 249px;
    width: 534px;
    height: 534px;
  }
}

.img-girl {
  display: none;
  @media screen and (min-width: $tablet) {
    position: absolute;
    display: block;
    bottom: 0;
    right: 32px;
    width: 190px;
    height: 150px;
  }
  @media screen and (min-width: $desktop) {
    right: 16px;
    width: 304px;
    height: 241px;
  }
}

.img-milk {
  display: none;
  @media screen and (min-width: $tablet) {
    position: absolute;
    display: block;
    bottom: 16px;
    right: 584px;
    width: 152px;
    height: 154px;
  }
  @media screen and (min-width: $desktop) {
    bottom: 60px;
    right: 1051px;

    width: 213px;
    height: 216px;
  }
}

.hero-icon {
  width: 5px;
  height: 5px;
  @media screen and (min-width: $desktop) {
    width: 10px;
    height: 10px;
  }
}
