.advantages {
  background-color: $bg-rose-light;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 100px;
  }
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin-left: calc(-1 * 32px);
  margin-top: calc(-1 * 32px);
}
.advantages-item {
  width: 100%;
  margin-left: 32px;
  margin-top: 32px;
  flex-basis: calc(100% / 1 - 32px);
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 - 32px);
  }
}
.advantages-title {
  margin-bottom: 20px;

  display: block;
  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $red;
  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
  &::before {
    content: '';
    display: block;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    // animation: fadeInDown 3s 0.5s;

    @media screen and (min-width: $tablet) {
      margin-bottom: 36px;
    }
  }
}
.advan1::before {
  width: 33px;
  height: 50px;
  background-image: url('../images/icons/icon-advan1.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/icons/icon-advan1@2x.png');
  }
}
.advan2::before {
  width: 50px;
  height: 50px;
  background-image: url('../images/icons/icon-advan2.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/icons/icon-advan2@2x.png');
  }
}
.advan3::before {
  width: 44px;
  height: 50px;
  background-image: url('../images/icons/icon-advan3.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/icons/icon-advan3@2x.png');
  }
}
.advantages-text {
  width: 90%;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: $text-black;
  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.71;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.75;
    width: 85%;
  }
}
.animates {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1.5s ease, transform 1.5s ease;
}
.animates-transition {
  opacity: 1;
  transform: none;
}
