.mySwiper.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
}

.swiper-slide img {
  object-fit: cover;
}

.mySwiper .swiper-pagination {
  position: relative;
  margin-top: 16px;

  @media screen and (min-width: $tablet) {
    margin-top: 32px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: $bg-paginator-bullet;
  opacity: 1;
  margin-left: 50px;
}

// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
// .swiper-pagination-horizontal.swiper-pagination-bullets
//   .swiper-pagination-bullet {
//   margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
// }
// .swiper-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-bullets.swiper-pagination-horizontal,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
//   bottom: 10px;
// }

.mySwiper .mySwiper-pagination-bullet.swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.mySwiper .swiper-pagination-bullet-active {
  background-image: url('./../images/icons/home.svg');
  background-size: cover;
  background-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 0;
  align-items: center;
}

.article-container {
  @media screen and (min-width: $tablet) {
    padding-left: 74px;
    padding-right: 74px;
  }

  @media screen and (min-width: $desktop) {
    padding-left: 123px;
    padding-right: 123px;
  }
}

.article-img {
  margin-right: auto;
  margin-left: auto;
}

.article-text::before {
  display: block;
  position: absolute;
  top: -13px;
  left: -3px;
  z-index: -1;

  content: '';
  width: 54px;
  height: 40px;
  background-image: url('../images/icons/quotes.png');
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../images/icons/quotes@2x.png");;
  }

  @media screen and (min-width: $tablet) {
    top: -17px;
    left: 0;
  }

  @media screen and (min-width: $desktop) {
    top: -15px;
  }
}

.article-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;

  background-image: repeating-linear-gradient(
    to bottom,
    $paginator-gr-white,
    $paginator-gr-white 30px,
    $paginator-gr-gray 31px,
    $paginator-gr-gray 31px
  );
  padding: 0px 8px 9px 15px;
  width: 100%;
  position: relative;
  z-index: 1;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 2.16;

    padding: 0px 49px 8px 45px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;

    padding: 0px 35px 8px 36px;
  }
}

.article-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;

  position: relative;
  margin-top: 36px;

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    font-size: 16px;

    margin-top: 24px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.article-name::before {
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%);

  content: '';
  width: 32px;
  height: 4px;
  background-image: url('../images/icons/marker.svg');
}

.bg-container {
  width: 100%;
  padding: 43px 50px 17px 50px;
  background-color: $paginator-gr-white;
  margin-top: 32px;

  @media screen and (min-width: $tablet) {
    padding: 47px 6px;
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    padding: 47px 107px 31px 106px;
    margin-top: 16px;
  }
}
