.product {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin: -8px;
  }
  @media screen and (min-width: $desktop) {
    margin: -16px;
  }
}

.product-item {
  position: relative;
  padding-top: 140px;
  width: 100%;
  height: 100%;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 3 * 16px) / 3);
    margin: 8px;
    padding-top: 138px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 3 * 32px) / 3);
    margin: 16px;
    padding-top: 260px;
    border-radius: 24px;
    transition: transform 250ms ease, box-shadow 250ms ease;

    &:hover.shadow-rose {
      @media screen and (min-width: $desktop) {
        // transform: translateY(7px);
        // box-shadow: 0px 10px 5px -5px $product-shadow-rose;
        cursor: pointer;
      }
    }
    &:hover.shadow-yellow {
      @media screen and (min-width: $desktop) {
        // transform: translateY(7px);
        // box-shadow: 0px 10px 5px -5px $product-shadow-yellow;
        cursor: pointer;
      }
    }
    &:hover.shadow-green {
      @media screen and (min-width: $desktop) {
        // transform: translateY(7px);
        // box-shadow: 0px 10px 5px -5px $product-shadow-green;
        cursor: pointer;
      }
    }
  }
}

%product-box {
  width: 100%;
  padding: 160px 40px 40px 40px;
  border-radius: 24px;
  text-align: center;

  @media screen and (min-width: $tablet) {
    padding: 118px 32px 40px 32px;
  }
  @media screen and (min-width: $desktop) {
    height: 535px;
    padding: 165px 75px 60px 75px;
  }
}

.product-box-first {
  @extend %product-box;

  background-color: $bg-hero;
}

.product-box-second {
  @extend %product-box;

  background-color: $accent-yellow;
}

.product-box-third {
  @extend %product-box;

  background-color: $accent-green;
}

.shadow-rose::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/mobile/product1-img-mobile.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product1-img-mobile@2x.png');
  }

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 224px;
    background-image: url('../images/tablet/product1-img-tablet.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product1-img-tablet@2x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    width: 394px;
    height: 394px;
    background-image: url('../images/desktop/product1-img-desktop.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product1-img-desktop@2x.png');
    }
  }
}

.shadow-yellow::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/mobile/product2-img-mobile.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product2-img-mobile@2x.png');
  }

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 224px;
    background-image: url('../images/tablet/product2-img-tablet.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product2-img-tablet@2x.png');
    }
  }
  @media screen and (min-width: $desktop) {
    width: 394px;
    height: 394px;
    background-image: url('../images/desktop/product2-img-desktop.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product2-img-desktop@2x.png');
    }
  }
}

.shadow-green::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/mobile/product3-img-mobile.png');
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/mobile/product3-img-mobile@2x.png');
  }

  @media screen and (min-width: $tablet) {
    width: 224px;
    height: 224px;
    background-image: url('../images/tablet/product3-img-tablet.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tablet/product3-img-tablet@2x.png');
    }
  }

  @media screen and (min-width: $desktop) {
    width: 394px;
    height: 394px;
    background-image: url('../images/desktop/product3-img-desktop.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop/product3-img-desktop@2x.png');
    }
  }
}

.product-title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-white;

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.13;
  }

  &::after {
    display: block;
    content: '';
    width: 26px;
    height: 6px;
    margin: 32px auto;
    background-image: url(../images/icons/Dots-product.svg);
    background-repeat: no-repeat;
  }
}
.product-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $text-white;

  text-align: center;

  @media screen and (min-width: $tablet) {
    line-height: 1.79;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.button-circle-large {
  margin: 0px auto;

  @media screen and (max-width: 1279px) {
    margin-top: 32px;
  }
}

@media screen and (min-width: $desktop) {
  .flipping-card {
    perspective: 1000px;
  }

  .card-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 535px;

    transition: transform 1000ms ease 250ms;
    backface-visibility: hidden;
  }

  .card-side.back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: 261px;
    left: 0;
    width: 395px;
    border-radius: 24px;
    padding: 165px 75px 60px 75px;

    transform: rotateY(-180deg);
  }

  .back-rose {
    background: linear-gradient(
      to top left,
      $product-top-rose,
      $product-shadow-rose
    );
  }

  .back-yellow {
    background: linear-gradient(
      to top left,
      $product-top-yellow,
      $product-shadow-yellow
    );
  }

  .back-green {
    background: linear-gradient(
      to top left,
      $product-top-green,
      $product-shadow-green
    );
  }

  .flipping-card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  .flipping-card:hover .card-side.back {
    transform: rotateY(0deg);
  }

  .button-back-svg {
    transform: scaleX(-1);
  }
}

@media screen and (max-width: 1279px) {
  .card-side.back {
    display: none;
  }
}
